@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --transition: 0.3s ease-in-out;
  --blackColor: black;
  --heroFontColor: #fff;
  --orangeColor: #d81f1f;
  --lightPurple: #00b3d4;
  --borderRadius: 100%;
  --heroHeight: 651px;
  --desktopLineHeight: 2rem;
  --smallLineHeight: 1.5rem;
  --grayColor: rgba(0, 0, 0, 0.5);
  --footerColor: #e5e5e5;
  --colorred: red;
}

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

/* Header section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-container {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.nav-container a,
.nav-container button {
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.nav-container a:hover {
  color: var(--orangeColor);
  transition: var(--transition);
}

.nav-container button {
  padding: 10px;
  background-color: var(--heroFontColor);
  outline: none;
  border: 1px solid var(--orangeColor);
  transform: var(--transition);
}

.nav-container button:hover {
  background-color: var(--orangeColor);
  transition: var(--transition);
  color: var(--heroFontColor);
}

.navToggle {
  display: none;
}
#mobileToggle i:nth-child(2) {
  display: none;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 651px;
  color: white;
  background-image: url("./img/hero\ img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  position: relative;
  z-index: 1;
}
.hero::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: -1;
}
.hero-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 68px;
  z-index: 1;
}
.hero-wrapper h1 {
  font-size: 3rem;
}
.hero-wrapper p {
  margin: 2rem 0;
  line-height: 2rem;
}

#more {
  display: none;
}

#readmore {
  padding: 5px;
  font-size: 0.8rem;
  background: rgb(194, 179, 179);
}

#readmore:hover {
  border: none;
  cursor: pointer;
}

.hero-wrapper button {
  cursor: pointer;
  background-color: var(--orangeColor);
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: #fff;
  transition: var(--transition);
}

.hero-wrapper button:hover {
  background: transparent;
  border: 1px solid var(--orangeColor);
  transition: var(--transition);
}

/* why us sections */
.why-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 30px;
}

.why-us-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.why-us-header h2 {
  color: var(--orangeColor);
}

.p-info {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.p-info p:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 500;
}

.why-us p:nth-child(3) {
  line-height: 2rem;
  margin-bottom: 20px;
}

.grid-items {
  width: 100%;
  height: 100px;
  background: var(--lightPurple);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}
.grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  grid-gap: 1rem;
  transition: var(--transition);
}

/* Tracks */
.tracks {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 25px 30px;
}
.tracks h2 {
  color: var(--orangeColor);
  text-align: center;
  font-size: 1.5rem;
}

.first-para {
  margin: 20px 0;
  line-height: var(--smallLineHeight);
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
}

.tracks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.tracks-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background: var(--lightPurple);
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--heroFontColor);
  margin: 5px auto;
  width: 80%;
}
.tracks-header {
  width: 100%;
  display: flex;
  height: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--orangeColor);
  padding: 15px 10px;
  color: var(--heroFontColor);
}

.tracks-p {
  font-size: 1.5rem;
}
.lang {
  display: flex;
  justify-items: center;
}

.lang p:not(:last-child) {
  border-right: 1px solid var(--heroFontColor);
  padding: 0px 5px;
}

.lang p:last-child {
  padding: 0px 5px;
}

.tracks-info {
  width: 100%;
  padding: 20px 44px;
}
.tracks-info p {
  line-height: var(--smallLineHeight);
}

.tracks-info button {
  display: flex;
  margin: 0 auto;
  width: 180px;
  justify-content: center;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: var(--transition);
  cursor: pointer;
}

.tracks-info button:hover {
  opacity: 0.9;
  transition: var(--transition);
}

.testimonial {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 25px 30px;
}
.testimonial h2 {
  color: var(--orangeColor);
  text-align: center;
  font-size: 1.5rem;
}
.test-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.test-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.test-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 2rem;
  margin: auto;
  margin-bottom: 20px;
}

.test-img-container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.test-info {
  margin-top: 10px;
}

.test-info h4 {
  font-weight: 500;
  color: var(--grayColor);
  margin-bottom: 10px;
}
.test-info p {
  line-height: var(--smallLineHeight);
  margin-bottom: 20px;
}

.test-info button {
  padding: 20px 40px;
  outline: none;
  border: 1px solid var(--lightPurple);
  background: transparent;
  font-size: 1.2rem;
}

.quote {
  display: flex;
  height: 250px;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  background-color: var(--lightPurple);
}

.quote-info {
  width: 100%;
  padding: 20px;
}
.quote-info p {
  line-height: var(--smallLineHeight);
  font-size: 1.5rem;
}
.quote-wrapper-img {
  width: 100%;
  height: 100%;
}
.quote-img-container {
  width: 100%;
  height: 100%;
  background-image: url("./img/pressing-laptop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 25px 30px;
}
.register h2 {
  color: var(--orangeColor);
  text-align: center;
  font-size: 1.5rem;
}

.register-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-column-gap: 4rem;
  width: 70%;
  justify-self: center;
  margin: 0 auto;
}

.form-input p {
  color: var(--colorred);
  display: none;
}

.danger {
  background: 1px solid var(--colorred);
}
.showPara {
  display: block;
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
}

.form-input input,
.form-input select {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  margin-top: 5px;
}

.footer {
  width: 100%;
  background: var(--footerColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.footer-links-wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  margin: 0 auto;
}

.footer-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 30px;
}
.foot {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.foot h2 {
  margin-bottom: 20px;
}

.foot a,
.foot p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.foot a:hover {
  color: var(--orangeColor);
  transition: var(--transition);
}
.social-media {
  display: flex;
}

.social-media a {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
.social-media img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sponsors {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  flex-wrap: wrap;
}

.sponsors p {
  font-size: 1.5rem;
  margin-left: 25px;
}

@media screen and (max-width: 768px) {
  /* hero section */
  .hero {
    grid-template-columns: 3fr 1fr;
  }
  .footer-links-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  /* Register */
  .register-container {
    width: 100%;
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  /* Header media queries */
  nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 15px;
  }
  .mobileContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .navToggle {
    display: block;
    cursor: pointer;
  }

  .nav-container {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 0;
    font-size: 100px;
    transition: var(--transition);
    align-items: flex-start;
  }

  .show-nav-container {
    height: 10rem;
    margin-bottom: 20px;
  }
  .navToggle i {
    font-size: 2rem;
  }

  #mobileToggle.is-active i:nth-child(1) {
    display: none;
  }
  #mobileToggle.is-active i:nth-child(2) {
    display: block;
  }

  /* hero Section
   */
  .hero {
    display: flex;
  }
  .hero-wrapper {
    margin: 0;
    padding: 20px;
  }
  .hero-wrapper h1 {
    font-size: 2rem;
  }

  /* .why-use section */
  .why-us {
    padding: 25px 15px;
  }
  .p-info {
    grid-template-columns: 1fr;
  }

  /* testimonials */
  .quote {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 150px;
  }

  /* Register */
  .register-container {
    grid-template-columns: 1fr;
  }

  /* footer */
  .footer-links-wrapper {
    grid-template-columns: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .foot {
    margin-bottom: 20px;
  }
  .foot h2 {
    margin-bottom: 5px;
  }
  .sponsors {
    margin-top: 50px;
  }
  .sponsors p {
    margin-top: 10px;
  }
}

@media screen and (max-width: 360px) {
  .quote {
    margin-bottom: 200px;
    height: 500px;
  }
}
@media screen and (max-width: 300px) {
  nav {
    padding: 0;
  }
  .mobileContainer {
    justify-content: center;
  }
  .nav-container {
    padding: 0 15px;
  }
  .quote {
    margin-bottom: 250px;
  }
}
