@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --transition: 0.3s ease-in-out;
  --blackColor: black;
  --heroFontColor: #fff;
  --orangeColor: #d81f1f;
  --lightPurple: #00b3d4;
  --borderRadius: 100%;
  --heroHeight: 651px;
  --desktopLineHeight: 2rem;
  --smallLineHeight: 1.5rem;
}

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

/* Header section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-container {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.nav-container a,
.nav-container button {
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.nav-container a:hover {
  color: var(--orangeColor);
  transition: var(--transition);
}

.nav-container button {
  padding: 10px;
  background-color: var(--heroFontColor);
  outline: none;
  border: 1px solid var(--orangeColor);
  transform: var(--transition);
}

.nav-container button:hover {
  background-color: var(--orangeColor);
  transition: var(--transition);
  color: var(--heroFontColor);
}

.navToggle {
  display: none;
}
#mobileToggle i:nth-child(2) {
  display: none;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 651px;
  color: white;
  background-image: url("./img/hero\ img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  position: relative;
  z-index: 1;
}
.hero::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: -1;
}
.hero-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 68px;
  z-index: 1;
}
.hero-wrapper h1 {
  font-size: 3rem;
}
.hero-wrapper p {
  margin: 2rem 0;
  line-height: 2rem;
}

#readmore {
  padding: 5px;
  font-size: 0.8rem;
  background: rgb(194, 179, 179);
}

#readmore:hover {
  border: none;
  cursor: pointer;
}

.hero-wrapper button {
  cursor: pointer;
  background-color: var(--orangeColor);
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: #fff;
  transition: var(--transition);
}

.hero-wrapper button:hover {
  background: transparent;
  border: 1px solid var(--orangeColor);
  transition: var(--transition);
}

/* why us sections */
.why-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 30px;
}

.why-us-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.why-us-header h2 {
  color: var(--orangeColor);
}

.p-info {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.p-info p:nth-of-type(1) {
  font-size: 1.5rem;
  font-weight: 500;
}

.why-us p:nth-child(3) {
  line-height: 2rem;
  margin-bottom: 20px;
}

.grid-items {
  width: 100%;
  height: 100px;
  background: var(--lightPurple);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}
.grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  grid-gap: 1rem;
  transition: var(--transition);
}

/* Tracks */
.tracks {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 25px 30px;
}
.tracks h2 {
  color: var(--orangeColor);
  text-align: center;
  font-size: 1.5rem;
}

#first-para {
  margin: 20px 0;
  line-height: var(--smallLineHeight);
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
}

.tracks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.tracks-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--lightPurple);
}

.tracks-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--orangeColor);
  padding: 15px 10px;
  color: var(--heroFontColor);
}

@media screen and (max-width: 768px) {
  /* hero section */
  .hero {
    grid-template-columns: 3fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  /* Header media queries */
  nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 15px;
  }
  .mobileContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .navToggle {
    display: block;
    cursor: pointer;
  }

  .nav-container {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 0;
    font-size: 100px;
    transition: var(--transition);
    align-items: flex-start;
  }

  .show-nav-container {
    height: 10rem;
  }
  .navToggle i {
    font-size: 2rem;
  }

  #mobileToggle.is-active i:nth-child(1) {
    display: none;
  }
  #mobileToggle.is-active i:nth-child(2) {
    display: block;
  }

  /* hero Section
   */
  .hero {
    display: flex;
  }
  .hero-wrapper {
    margin: 0;
    padding: 20px;
  }
  .hero-wrapper h1 {
    font-size: 2rem;
  }

  /* .why-use section */
  .why-us {
    padding: 25px 15px;
  }
  .p-info {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 300px) {
  nav {
    padding: 0;
  }
  .mobileContainer {
    justify-content: center;
  }
  .nav-container {
    padding: 0 15px;
  }
}
